* {
  -webkit-box-orient: vertical;
}
input:focus{
  background-color: transparent !important;
}

.socialG {
  margin-left: 20px !important;
}
.centerS {
  margin-left: 20px !important;
}
.mainDiv {
  display: flex;
  justify-content: center;
}
.box {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 500px;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-left: 50%;
  transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  background-color: whitesmoke;

  background-image: url("../images/home.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}

.box .form-control {
  display: block;
  width: 100%;
  padding: .375rem 1.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #fff;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.box .form-control:focus {
  display: block;
  width: 100%;
  padding: .375rem 1.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #fff;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.lable {
  align-items: flex-start;
  padding: 0;
  margin: 0;
  font-weight: 600;
  text-align: left;
}

input {
  outline: none;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #dee1ec;
  padding: 15px;
}

.btn-submit {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #10316b;
  color: whitesmoke;
  font-weight: 700;
  border: none;
}

.btn-submit svg {
  display: inline;
  width: 20px;
  height: 20px;
}
.loginBtn button{
  background-color: #ff304d;
  border: none;
}
.loginBtn button:hover{
  background-color: #242733;
  border: none;
  color: #ff304d;
}
.loginBtn .signupBtn{
  background-color: transparent;
  border: none;
}

.linkSet button{
  background-color: #fff;
  text-align: center;
  border: none;
  color: #222;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 5px;
  margin: 10px;
}
.linkSet button:hover{
  background-color: #ff304d;
  /* border: 1px solid #ff304d; */
  color: #222;
}
.linkSet img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
}
.linkSet h1 {
  overflow: hidden;
  text-align: center;
  color: #fff;
}

.linkSet h1:before,
h1:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.linkSet h1:before {
  right: 0.5em;
  margin-left: -50%;
}
.linkSet h1:after {
  left: 0.5em;
  margin-right: -50%;
}
.g-2 span{
  position: absolute;
  margin-left: 5px;
  height: 33px;
  display: flex;
  align-items: center;
  color: #eee;
}